@font-face {
  font-family:"Santral-Bold";
  src:url("fonts/Santral-Bold.woff2") format("woff2"),url("fonts/Santral-Bold.woff") format("woff"),url("fonts/Santral-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Santral-Light";
  src:url("fonts/Santral-Light.woff2") format("woff2"),url("fonts/Santral-Light.woff") format("woff"),url("fonts/Santral-Light.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Santral-Medium";
  src:url("fonts/Santral-Medium.woff2") format("woff2"),url("fonts/Santral-Medium.woff") format("woff"),url("fonts/Santral-Medium.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Santral-Regular";
  src:url("fonts/Santral-Regular.woff2") format("woff2"),url("fonts/Santral-Regular.woff") format("woff"),url("fonts/Santral-Regular.otf") format("opentype");
  font-style:normal;font-weight:400;
}
